provider "aws" {
  region = var.region
{% if aws_account_id %}
  allowed_account_ids = ["{{ aws_account_id }}"]
{% endif %}

  default_tags {
    tags = {
      Project    = var.project_name
      ManagedBy  = "Terraform"
      Repository = "{{ repository }}"
    }
  }
}
